p.hatena
  a.hatena-bookmark-button(href="http://b.hatena.ne.jp/entry/" + meta.url data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加")
    img(src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;")
