extends /layout/_application
block body
  div.wrapper
    h1.ttl
      img(src="img/common/ttl.png" alt="THREE SIZE")
    p.boy
    div.girl
      p.parts.top
      p.parts.middle
      p.parts.bottom
