extends /layout/_application
include /mixin/_social
block body
  div.wrapper
    h1.ttl
      img(src="img/common/ttl.png" alt="THREE SIZE")
    p.boy
    div.girl
      p.parts.top(data-type="top")
        button
      p.value.top
        span.length
        span.unit cm
      p.parts.middle(data-type="middle")
        button
      p.value.middle
        span.length
        span.unit cm
      p.parts.bottom(data-type="bottom")
        button
      p.value.bottom
        span.length
        span.unit cm
      // ローディング中クリック防止用
      p.guard
      p.advice クリックして、<br>スリーサイズを揃えてみよう！
    div.result_container
      div.result
        p.name.hiragino
        div.pic_container
          p.pic.num1
          p.pic.num2
          p.pic.num3
          p.pic.num4
        p.notice.hiragino ※ Google Custom Search API
      div.social
        +fb-share("img/common/fb-share.png")
        +tweet("img/common/tweet.png")
        +line("img/common/line.png")
      p.again
        button
          span.text もういちど
    div.notice_container
      div.notice
        p.notice-txt このサイトは未成年に不適切な内容を含む場合があります。あなたは18歳以上ですか？
        p.notice-yes
          button
            img(src="img/common/notice-yes.png" alt="YES")
        p.notice-no
          button
            img(src="img/common/notice-no.png" alt="NO")
