%hideText
  overflow: hidden

  &:before
    display: block
    width: 0
    height: 100%
    content: ""

%hoverEffect
  +transition(transform 0.3s ease 0s)
  &:hover
    +scale(1.2)

%activeEffect
  &:active
    +scale(1.4)

%hoverEffect-opacity
  +transition(opacity 0.3s ease 0s)
  &:hover
    opacity: 0.8

%spSocial
  position: relative

  > iframe,
  > span
    position: absolute
    +trbl(0, auto, auto, 0)
    +transform-origin(0px, 0px)
    +scale(2)
