.sp
  display: none

.wrapper
  position: absolute
  +trbl(0, 0, 0, 0)
  min-width: 1280px
  min-height: 600px
  overflow: hidden
  +bg("common/bg.jpg", cover)

  #{$is_sp}
    width: 640px
    min-width: 0
    min-height: 0
    +bg("common/bg_sp.jpg", cover)

  .ttl
    +image-size("common/ttl.png", 1.5)
    margin: 40px auto 0

    #{$is_sp}
      +image-size("common/ttl.png", 2)
      margin-top: 40px

  .boy
    $expression: "normal", "wait", "think", "boring", "surprised", "happy"
    position: absolute
    +trbl(auto, auto, 40px, 50%)
    +sprite("boy/body.png", 6)
    margin-left: -600px
    +transform-origin(center, bottom)

    #{$is_sp}
      top: 50%
      bottom: auto
      margin: -240px auto auto -420px
      +scale(0.8)

    @for $i from 0 to length($expression)
      &.#{nth($expression, $i + 1)}
        +sprite-position("boy/body.png", 6, $i)

    &:before
      $bg: "common/balloon-small.png"
      position: absolute
      +trbl(10px, -120px, auto, auto)
      +image-size($bg)
      +bg($bg)
      opacity: 0
      +transition(all 0.9s ease 0s)
      content: ""

      #{$is_sp}
        +trbl(-80px, -40px, auto, auto)

    &.think
      &:before
        +translate(10px, -10px)
        opacity: 1

    &.happy
      &:before
        display: none

  .girl
    $bg: "girl/body.png"
    $parts: "top", "middle", "bottom"
    position: absolute
    +trbl(auto, auto, 40px, 50%)
    +image-size($bg)
    margin-left: 250px
    +bg($bg)
    +transform-origin(center, bottom)

    #{$is_sp}
      top: 50%
      bottom: auto
      margin: -280px auto auto 50px

    .parts
      position: absolute
      margin: auto
      box-sizing: content-box
      border: 4px solid #000

      button
        position: absolute
        +trbl(0, 0, 0, 0)

      // パーツごと
      @each $p in $parts
        &.#{$p}
          +trbl(auto, 0, auto, 0)
          +sprite("girl/#{$p}.png", 3)

          @for $i from 1 to 4
            &[data-size="#{$i}"]
              +sprite-position("girl/#{$p}.png", 3, $i - 1)

      &.top
        top: 140px

      &.middle
        top: 257px

      &.bottom
        top: 360px

    .value
      $left: 240px
      position: absolute
      line-height: 1em
      color: #fff
      font-size: 48px
      letter-spacing: 3px
      +open-face(#000)
      opacity: 0

      .unit
        font-size: 32px

        #{$is_sp}
          font-size: 24px

      &.top
        +trbl(192px, auto, auto, $left)

      &.middle
        +trbl(295px, auto, auto, $left)

      &.bottom
        +trbl(405px, auto, auto, $left)

      #{$is_sp}
        &.top,
        &.middle,
        &.bottom
          left: -80px

    .guard
      position: absolute
      +trbl(0, 0, 0, 0)

  .result_container
    display: none
    position: absolute
    +trbl(0, 0, 0, -60px)
    width: 40%
    height: 85%
    margin: auto
    opacity: 0

    #{$is_sp}
      +trbl(0, 0, 0, 0)
      width: 75%

    .again
      position: absolute
      +trbl(auto, 0, 0, 0)
      // 初期状態では80%の大きさに指定(アニメーションで100%状態にする)
      width: 70%
      height: 12% * 0.8
      margin: auto
      font-size: 32px
      background: #fff
      box-shadow: 0 0 2px 5px #000
      border-radius: 20px
      opacity: 0
      @extend %hoverEffect

      .text
        position: absolute
        +trbl(0, 0, 0, 0)
        height: 1em
        margin: auto
        font-weight: bold

  .result
    position: relative
    width: 100%
    height: 80%
    padding: 12% 15% 7%
    +bg("common/balloon.png", 100% 100%)

    #{$is_sp}
      padding: 20% 15% 7%
      +translate(40px, 40px)

    &:before
      $bg: "common/balloon-effect.png"
      $ratio: 2.8
      position: absolute
      +trbl(0, auto, 0, image-width($bg) * -1 / $ratio - 5px)
      +image-size($bg, $ratio)
      margin: auto
      +bg($bg)
      content: ""

      #{$is_sp}
        +trbl(auto, auto, 44%, image-width($bg) * -1 / $ratio + 10px)
        top: auto
        +scale(0.6)

    .name
      line-height: 1em
      font-size: 36px
      font-weight: bold

    .pic_container
      width: 100%
      height: calc(100% - 74px)
      margin-top: 20px

      .pic
        width: 48%
        height: 47.5%
        background-size: contain
        background-repeat: no-repeat
        background-position: center center

        &:nth-child(odd)
          float: left
        &:nth-child(even)
          float: right
        &:nth-child(n+3)
          margin-top: 3%

    .notice
      position: absolute
      +trbl(auto, 15%, 8%, auto)
      font-size: 10px

      #{$is_sp}
        bottom: 6%

  .notice_container
    position: absolute
    +trbl(0, 0, 0, 0)
    background: rgba(0, 0, 0, 0.85)

  .notice
    position: absolute
    +trbl(0, 0, 0, 0)
    width: 960px
    height: 480px
    margin: auto
    background: rgba(255, 255, 255, 0.8)
    border-radius: 20px
    box-shadow: 0 0 10px 5px #000

    #{$is_sp}
      width: 600px
      height: 300px

  .notice-txt
    $img: "common/notice-txt.png"
    +image-txt($img)
    margin: 120px auto 0

    #{$is_sp}
      +image-size($img, 1.4)
      margin-top: 80px

  .notice-yes,
  .notice-no
    position: absolute
    top: 270px
    left: 50%
    @extend %hoverEffect
    @extend %activeEffect

    #{$is_sp}
      top: 180px

  .notice-yes
    margin-left: -170px

  .notice-no
    margin: -5px auto auto 50px

.hiragino
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif
